.header {
  background-color: var(--blue-900);;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navItem a {
  color: white;
  text-decoration: none;
}

.navItem a:hover {
  text-decoration: underline;
}
